.card{
    display: flex;
    margin: 10px;
    margin-left: 0;
    /* With flex-grow: 1 defined in the flex shorthand, there's no need for flex-basis to be 25%, 
       which would actually result in three items per row due to the margins.
       Since flex-grow will consume free space on the row, flex-basis only needs to be large enough to enforce a wrap. 
       In this case, with flex-basis: 21%, there's plenty of space for the margins, but never enough space for a fifth item. */
    flex: 1 0 21%
}
.card-image{
    width : 75px;
    border-radius: 10px;
    margin: 5px;
}
.card-content{
    margin: 7px;
}
.card-content h3{
    margin: 5px;
    padding: 0px;
}
.card-content p{
    margin: 2px;
    margin-left: 5px;
}