.experience-cards-card{
    margin: 20px;
    margin-left: 0;
}
.experience-cards-image{
    width: 440px;
    height: 470px;
    border-radius: 8px;
}
.experience-cards-head{
    margin: 0;
    font-size: larger;
    font-weight: 600;
}
.experience-cards-para{
    color: black;
    margin: 0;
}