.host{
    position: relative;
    margin-top: 40px;
    cursor: pointer;
}
.host-image{
    display: flex;
    position: relative;
    height: 480px;
    width: 90%;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}
.host-head{
    position: absolute;
    top: 110px;
    left: 120px;
    font-size: 48px;
    /* width: 400px; */
    margin: 10px 30px;
    font-weight: 500;
    color: #fff;
}
.host-para{
    position: absolute;
    top: 200px;
    left: 120px;
    width: 300px;
    margin: 0px 35px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.host-button{
    position: absolute;
    top: 280px;
    left: 120px;
    margin: 5px 35px;
    background-color: #fff;
    color: #000;
    border-color: #fff;
    padding: 13px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}